<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnvInt.Win32.FieldTech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnvInt.Win32.FieldTech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EnvInt.Win32.FieldTech.Properties.Settings>
            <setting name="ShowSplash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenLastProject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastComponentLDARTag" serializeAs="String">
                <value />
            </setting>
            <setting name="LastComponentLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastEiD" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDrawing" serializeAs="String">
                <value />
            </setting>
            <setting name="LastType" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAccess" serializeAs="String">
                <value />
            </setting>
            <setting name="LastStream" serializeAs="String">
                <value />
            </setting>
            <setting name="LastState" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSize" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMOCNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOldTag" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceIdentifier" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAttachDrawing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastProject" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFTTP" serializeAs="String">
                <value />
            </setting>
            <setting name="LastArea" serializeAs="String">
                <value />
            </setting>
            <setting name="LastManufacturer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProperty" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSaveInterval" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="ForceUpperCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TargetSite" serializeAs="String">
                <value>Use Default Form For Project Type</value>
            </setting>
            <setting name="LastEquipment" serializeAs="String">
                <value />
            </setting>
            <setting name="ModifiedBy" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowDuplicateLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastChildComponentType" serializeAs="String">
                <value />
            </setting>
            <setting name="isProductChinese" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnalyzerType" serializeAs="String">
                <value>PHX21</value>
            </setting>
            <setting name="AllowChildTagEdit" serializeAs="String">
                <value>False</value>
            </setting>
        </EnvInt.Win32.FieldTech.Properties.Settings>
    </userSettings>
    <applicationSettings>
      <EnvInt.Win32.FieldTech.Properties.Settings>
        <setting name="LocationCodeLevel" serializeAs="String">
          <value />
        </setting>
        <setting name="LocationCodeHeight" serializeAs="String">
          <value />
        </setting>
        <setting name="LocationDirectionalReferencePoint" serializeAs="String">
          <value />
        </setting>
        <setting name="LocationSelector" serializeAs="String">
          <value>Simple</value>
        </setting>
        <setting name="ProjectComponents" serializeAs="String">
          <value>ANGLE VALVE|BALL VALVE|BLANK WITH FLANGES|CAP|CHECK VALVE|CLOSED FIGURE 8 BLIND WITH FLANGES|CONCENTRIC REDUCER|CONTROL VALVE|DOUBLE LINE NOZZLE|FILTER|FLANGE|FLEXIBLE HOSE|GATE VALVE|GLOBE VALVE|HOSE CONNECTION|INSTRUMENT SUPPLY|NEEDLE VALVE|OPEN FIGURE 8 BLIND WITH FLANGES|PLUG|PLUG VALVE|REACTOR FEED FILTER|RESTRICTION ORIFICE|THREE WAY VALVE|VACUUM RELIEF VALVE|WATER WASH COLUMN|</value>
        </setting>
        <setting name="MOCMode" serializeAs="String">
          <value>False</value>
        </setting>
      </EnvInt.Win32.FieldTech.Properties.Settings>
    </applicationSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMainService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.env-int.com/services.MainService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMainService" contract="EiServiceReference.IMainService" name="BasicHttpBinding_IMainService"/>
        </client>
    </system.serviceModel>
</configuration>
